@import 'assets/styles/mixins.scss';

.noPadding {
  padding: 0 !important;
}

.flexContainer {
  padding: 0 15px;
  display: flex;
  width: 100%;
  flex: 1;
}

.flexMainItem {
  flex: 1;
  height: 100%;
}

.flexItem {
  display: flex;
  height: 100%;
}

.budgetContainer {
  display: flex;
  height: 100%;
  align-items: center;
}

.budgetSections {
  display: flex;
  flex: 1;
  height: 100%;
}
